* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth
}

.header {
    background-color: rgba(45,45,45,0.98);
    height: 40px;
}

.menu {
    width: 100%;
    margin: 0 auto;
}

    .menu ul {
        list-style-type: none;
        width: 100%;
        text-align: center
    }

        .menu li {
            display: inline-block;
            width: 9%;
            text-align: center;
        }

            .menu ul li a {
                display: inline-block;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
                color: rgba(255,255,255,1);

            }

                .menu ul li a:hover {
                    text-decoration: none;
                    color: rgba(255,255,255,0.5);
                }


.section {
    margin-bottom: 10px;
    padding: 50px 0;
    color: #111111;
    text-align: center;
    background: #fafafa
}

.sectionImg {
    height: 70vh;
    margin-bottom: 10px;
    padding: 50px 0 0 0;
    text-align: center;
    color: #111111;
    background: #fafafa;
    overflow: hidden;
}

    .section h2, .sectionImg h2 {
        margin: 20px;
        font-size: 32px;
        font-weight: bold;
        color: #111;
    }

    .section p, .sectionImg p {
        font-size: 21px;
        color: #111
    }

    .menuSection ul {
        list-style-type: none;
        margin: 20px
    }

        .menuSection ul li {
            display: inline-block;
        }

            .menuSection ul li a {
                padding: 20px;
                text-decoration: none;
                color: #0070c9
            }

            .menuSection ul li a:hover {
                text-decoration: underline;
            }

    .sectionImg img {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        height: auto
    }
    
    .aside img {
        width: 100%;
        height: auto;
        display: block
    }










.footer {
    background: #F2F2F2
}

    .bloqueFooter {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        font-size: 10px;
        padding: 3em 0;
        color: #888;
        font-size: 12px;
        border-bottom: 1px solid #d6d6d6;
    }

        .bloqueFooter p {
            margin: 0 0 1em 0;
        }

    .menu-footer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

        .col-1 {
            width: 19%;
            display: inline-grid
        }

            .col-1 h1 {
                font-size: 12px;
                font-weight: bold;
                padding: 18px 0 6px 0
            }

            .col-1 ul {
                list-style-type: none;
                width: 100%;
                text-align: center
            }

                .col-1 ul li {
                    text-align: left;
                    width: 100%
                }

                    .col-1 ul li a {
                        display: block;
                        text-decoration: none;
                        color: #888;
                        font-size: 12px;
                        line-height: 30px;
                    }

                        .col-1 ul li a:hover {
                            text-decoration: underline;
                            color: #424242
                        }

        .menu-footer > p {
            font-size: 12px;
            color: #888;
            padding: 30px 0 10px 0;
            margin: 0 0 10px 0;
            border-bottom: 1px solid #d6d6d6;
        }

            .menu-footer > p  a {
                color: #0070c9;
                text-decoration: none
            }

            .menu-footer > p  a:hover {
                text-decoration: underline
            }

        .copyright {
            font-size: 12px;
            color: #888;
            padding-bottom: 30px;
            position: relative;
        }
            .copyright p {
                padding-bottom: 10px;
            }

            .menu-legales ul {
                list-style-type: none;
            }

                .menu-legales ul li {
                    display: inline-block
                }

                    .menu-legales ul li a {
                        color: #424242;
                        text-decoration: none;
                    }

                    .menu-legales ul li a:hover {
                        text-decoration: underline;
                    }

        .idioma {
            display: table-row;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            font-size: 12px;
        }

            .idioma img {
                width: 15px;
                height: auto;
                display: inline-block
            }

            .idioma p {
                display: inline-block;
                vertical-align: middle;
                padding: 0 0 5px 5px
            }

